@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  height: 115vh;
  color: #333;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}